* {
  margin: 0;
  padding: 0;
}
main {
  height: 500px;
  display: grid;
  grid-template-columns: 100px auto 150px;
  grid-template-rows: 30px auto 30px;
  /*设置网格区域分布*/
  grid-template-areas:
    "header header header"
    "left center right"
    "footer footer footer";
}
main header {
  grid-area: header; /*指定网格区域*/
  background-color: #ccc;
}
main .left {
  grid-area: left; /*指定网格区域*/
  opacity: 0.5;
  background-color: lightgoldenrodyellow;
}
main .center {
  grid-area: center; /*指定网格区域*/
  margin: 0 10px; /* 左右间距 */
  border: 2px solid #000;
  background-color: lightgreen;
}
main .right {
  grid-area: right; /*指定网格区域*/
  opacity: 0.5;
  background-color: lightcoral;
}
main footer {
  grid-area: footer; /*指定网格区域*/
  background-color: #ccc;
}
