* {
  margin: 0;
  padding: 0;
}
html,
body,
.layout {
  height: 100%;
}
body {
  margin: 0;
}
header,
footer {
  height: 50px;
  background-color: lightgreen;
}
main {
  overflow-y: auto;
}

main {
  height: calc(100% -100px);
}
